.skill-container {
  max-width: 400px;
  /* overflow: hidden; */
  /* border: 1px solid black; */
  /* background-color: #7568d6; */

  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.progress-bar {
  height: 20px;
  border: 1px solid black;
  background-color: white;
  max-width: 180px;
}

.progress-btn {
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 10px;
}

.delete-btn {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
